#DB
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=
DB_HOST=

#SECURITY
PEPPER=

#API_KEYS
ADZUNA_APP_ID= 
ADZUNA_APP_KEY= 
ADZUNA_PAIS= 
ADZUNA_CATEGORIA= 

APIFY_API_TOKEN=
ACTOR_ID=

APOLLO_API_KEY=

BROWSE_AI_ROBOT_ID=
BROWSE_AI_API_KEY=

HUNTER_API_KEY=

ZENROWS_API_KEY=

#SECURITY
PEPPER=
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_HOURS=